{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|About{% endblock %}

{% block page_title %}About{% endblock %}

{% block body %}
<div class="about-frame">
  <div class="about">
    <div class="about-content-1">
      <div class="about-content-1-banner">
        <img
          class="about-content-1-banner-img"
          src="{{ asset('images/lab1.png') }}"
        />
      </div>
    </div>
    <div class="about-content-2">
      <div class="about-content-2-container">
        <div class="about-content-2-title">
          La mission de Rhine Lab est ancrée dans une dévotion inébranlable
          envers l&#039;exploration spatiale, l&#039;innovation technologique et
          l&#039;engagement envers la science. Nous nous élevons au-dessus des
          étoiles avec un objectif clair et une passion ardente pour
          l&#039;avancement de la connaissance.
        </div>
        <div class="about-content-2-divider"></div>
        <div class="about-content-2-container-content">
          <div class="about-content-2-container-content-1">
            <div class="about-content-2-container-content-1-text">
              Mission :
            </div>
            <div class="about-content-2-container-content-1-text2">
              Chez Rhine Lab, notre mission est de repousser les frontières de
              l&#039;exploration spatiale et de l&#039;innovation scientifique.
              Nous nous engageons à être les pionniers qui ouvrent de nouveaux
              horizons, révèlent les mystères de l&#039;univers et inspirent les
              générations futures à embrasser la science.
            </div>
          </div>
          <div class="about-content-2-container-content-2">
            <div class="about-content-2-container-content-2-text">
              Objectifs :
            </div>
            <div class="about-content-2-container-content-2-list">
              <div class="about-content-2-container-content-2-list-item">
                Explorer l&#039;Inconnu
              </div>
              <div class="about-content-2-container-content-2-list-item">
                Innover pour l&#039;Avenir
              </div>
              <div class="about-content-2-container-content-2-list-item">
                Engagement envers la Science
              </div>
              <div class="about-content-2-container-content-2-list-item">
                Inspiration pour l&#039;Avenir
              </div>
            </div>
          </div>
        </div>
        <div class="about-content-2-container-subtitle">
          Chez Rhine Lab, chaque découverte, chaque innovation, et chaque pas
          dans l&#039;espace sont guidés par notre engagement envers la science
          et notre vision d&#039;un avenir où les étoiles ne sont plus hors de
          portée.
        </div>
      </div>
    </div>
    <div class="about-content-3">
      <div class="about-content-3-banner">
        <img
          class="about-content-3-banner-img"
          src="{{ asset('images/directory1.png') }}"
        />
      </div>
    </div>
    <div class="about-content-4">
      <div class="about-content-4-container">
        <div class="about-content-4-title">
          Découvrez les esprits visionnaires qui dirigent Rhine Lab avec
          détermination, guidant l&#039;entreprise vers de nouveaux sommets
          scientifiques et explorant les frontières de l&#039;espace. Notre
          équipe dirigeante est composée de leaders dévoués, chacun apportant
          une expertise unique et un engagement passionné envers la mission de
          Rhine Lab.
        </div>
        <div class="about-content-4-container2">
          <div class="about-content-4-container-1">
            <div class="about-content-4-container-1-frame">
              <div class="about-content-4-container-1-banner">
                <img
                  class="about-content-4-container-1-banner-img"
                  src="{{ asset('images/kristen_wright.png') }}"
                />
              </div>
              <div class="about-content-4-container-1-title">
                Dr. Kristen Wright - Directrice Générale
              </div>
              <div class="about-content-4-container-1-text">
                Fondatrice de Rhine Lab.
              </div>
            </div>
            <div class="about-content-4-container-1-frame2">
              <div class="about-content-4-container-1-banner2">
                <img
                  class="about-content-4-container-1-banner-img"
                  src="{{ asset('images/saria.png') }}"
                />
              </div>
              <div class="about-content-4-container-1-title">
                Saria - Directrice de la Défense
              </div>
              <div class="about-content-4-container-1-text">
                Co-fondatrice de Rhine Lab.
              </div>
            </div>
          </div>
          <div class="about-content-4-container-2">
            <div class="about-content-4-container-2-frame">
              <div class="about-content-4-container-2-banner">
                <img
                  class="about-content-4-container-2-banner-img"
                  src="{{ asset('images/ahrens_parvis.png') }}"
                />
              </div>
              <div class="about-content-4-container-2-title">
                Prof. Ahrens Parvis - Superviseur du Projet Diαbolic
              </div>
              <div class="about-content-4-container-2-text">
                Supervise le projet Diαbolic.
              </div>
            </div>
            <div class="about-content-4-container-2-frame">
              <div class="about-content-4-container-2-banner">
                <img
                  class="about-content-4-container-2-banner-img"
                  src="{{ asset('images/olivia_silence.png') }}"
                />
              </div>
              <div class="about-content-4-container-2-title">
                Dr. Olivia Silence - Ancienne Membre
              </div>
              <div class="about-content-4-container-2-text">
                Ancienne membre de l&#039;équipe dirigeante.
              </div>
            </div>
          </div>
        </div>
        <div class="about-content-4-subtitle">
          Ces leaders déterminés dirigent Rhine Lab avec une passion commune
          pour la science, l&#039;innovation et l&#039;exploration spatiale,
          façonnant ainsi l&#039;avenir de l&#039;entreprise et de Terra.
        </div>
      </div>
    </div>
    <div class="about-content-5">
      <div class="about-content-5-container">
        <div class="about-content-5-title">
          Les couloirs de Rhine Lab résonnent d&#039;échos de réalisations
          extraordinaires, chaque projet marquant un pas de géant dans le
          domaine de la recherche spatiale et de l&#039;innovation
          technologique. Nos scientifiques et ingénieurs ont relevé des défis
          audacieux, repoussant les limites de la connaissance et faisant de
          Rhine Lab un acteur majeur sur la scène scientifique de Terra.
        </div>
        <div class="about-content-5-divider"></div>
        <div class="about-content-5-content">
          <div class="about-content-5-content-frame">
            <div class="about-content-5-content-item">
              <div class="about-content-5-content-item-title">
                Projet Diαbolic (1095) :
              </div>
              <div class="about-content-5-content-item-text">
                Bien que marqué par des défis inattendus, le Projet Diαbolic a
                été une tentative audacieuse de ressusciter le Diablo Sarkaz.
                Bien que le chemin ait été semé d&#039;embûches, cette
                initiative a jeté les bases pour de futures recherches sur
                l&#039;interaction entre l&#039;Originium et la biologie.
              </div>
            </div>
            <div class="about-content-5-content-item">
              <div class="about-content-5-content-item-title">
                Collaboration avec Rhodes Island :
              </div>
              <div class="about-content-5-content-item-text">
                La collaboration avec Rhodes Island a permis des avancées
                significatives dans la recherche sur l&#039;Oripathy. Cette
                coopération a renforcé notre compréhension des propriétés de
                l&#039;Originium et a ouvert de nouvelles voies pour des
                traitements médicaux et des applications technologiques
                innovantes.
              </div>
            </div>
          </div>
          <div class="about-content-5-content-frame">
            <div class="about-content-5-content-item">
              <div class="about-content-5-content-item-title">
                Rhine Lab Pioneer Project :
              </div>
              <div class="about-content-5-content-item-text">
                Notre programme d&#039;expédition archéologique a abouti à la
                découverte de ruines anciennes, révélant des indices sur les
                civilisations qui ont jadis peuplé Terra. Ces découvertes ont
                non seulement enrichi notre compréhension de l&#039;histoire,
                mais ont également ouvert de nouvelles perspectives pour des
                applications technologiques et médicales.
              </div>
            </div>
            <div class="about-content-5-content-item">
              <div class="about-content-5-content-item-title">
                Horizon Arc Project (1099) :
              </div>
              <div class="about-content-5-content-item-text">
                Le lancement du Horizon Arc Project en 1099 a marqué un jalon
                majeur pour Rhine Lab. En réussissant à pénétrer le Starpod,
                nous avons créé le phénomène unique du &quot;Trimount Arc&quot;,
                ouvrant ainsi la voie à l&#039;exploration spatiale au-delà de
                la sphère terrestre.
              </div>
            </div>
          </div>
        </div>
        <div class="about-content-5-subtitle">
          Ces réalisations clés ne sont que le début de notre engagement envers
          l&#039;innovation et l&#039;exploration. Rhine Lab reste déterminé à
          écrire de nouveaux chapitres dans l&#039;histoire de la science,
          repoussant constamment les frontières de la connaissance et de
          l&#039;avancement technologique.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
