{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Home{% endblock %}

{% block page_title %}Home{% endblock %}

{% block body %}
<img class="home-banner" src="{{ asset('images/rhine_lab.png') }}" />
<div class="home">
  <div class="home-content">
    <div class="home-content-header">
      <div class="home-content-header-logo">
        <img
          class="home-content-header-logo-img"
          src="{{ asset('images/logo.png') }}"
        />
      </div>
      <div class="home-content-header-content">
        <div class="home-content-header-content-text">
          &quot;Rhine Lab : Pionniers de l&#039;Innovation Technologique et de
          l&#039;Exploration Spatiale&quot;
        </div>
      </div>
    </div>
    <div class="home-content-1">
      <div class="home-content-1-container">
        <div class="home-content-1-container-content">
          <div class="home-content-1-container-text">
            Bienvenue chez Rhine Lab, une force motrice dédiée à
            l&#039;avancement technologique et à l&#039;exploration spatiale.
            Depuis notre humble début dans un appartement près du Trimounts
            Institute of Technology, nous avons évolué pour devenir l&#039;un
            des plus importants instituts scientifiques de Terra. Chez Rhine
            Lab, notre passion pour l&#039;innovation guide notre quête
            incessante pour repousser les limites de la connaissance. Engagés
            dans des projets pionniers en Originium, biologie et robotique,
            notre objectif ultime est de conquérir de nouveaux horizons dans
            l&#039;univers. Bienvenue dans le futur de la science, bienvenue
            chez Rhine Lab.
          </div>
        </div>
        <div class="home-content-1-container-banner">
          <img
            class="home-content-1-container-banner-img"
            src="{{ asset('images/city1.png') }}"
          />
        </div>
      </div>
    </div>
    <div class="home-content-2">
      <div class="home-content-2-container">
        <div class="home-content-2-container-content">
          <div class="home-content-2-container-1">
            <div class="home-content-2-container-1-grp">
              <img
                class="home-content-2-container-1-grp-img-4"
                src="{{ asset('images/lab3.png') }}"
              />
              <img
                class="home-content-2-container-1-grp-img-3"
                src="{{ asset('images/prts.png') }}"
              />
              <img
                class="home-content-2-container-1-grp-img-2"
                src="{{ asset('images/drone.png') }}"
              />
              <img
                class="home-content-2-container-1-grp-img-1"
                src="{{ asset('images/originium.png') }}"
              />
            </div>
            <div class="home-content-2-container-1-content">
              <div class="home-content-2-container-1-content-1">
                <div class="home-content-2-container-1-content-1-text">
                  Parmi nos réussites remarquables, le projet pionnier dans le
                  décryptage des secrets de l&#039;Originium a ouvert des portes
                  insoupçonnées dans les domaines de la robotique, de la
                  médecine et des études écologiques. Notre collaboration avec
                  la Maylander Association a attiré des esprits brillants,
                  faisant de Rhine Lab un creuset d&#039;idées novatrices.
                </div>
              </div>
              <div class="home-content-2-container-1-content-2">
                <div class="home-content-2-container-1-content-2-text">
                  Dans la quête incessante de l&#039;excellence scientifique,
                  Rhine Lab s&#039;est distingué par ses réalisations
                  extraordinaires, propulsant l&#039;humanité vers de nouveaux
                  sommets. Notre engagement envers l&#039;avancement
                  technologique et la recherche spatiale a donné naissance à des
                  projets de recherche révolutionnaires qui ont façonné le
                  paysage scientifique de Terra.
                </div>
              </div>
            </div>
          </div>
          <div class="home-content-2-container-2">
            <div class="home-content-2-container-2-content-1">
              <div class="home-content-2-container-2-content-1-text">
                Cependant, nos accomplissements ne s&#039;arrêtent pas là. À
                travers le Rhine Lab Pioneer Project, nos équipes
                d&#039;explorateurs ont découvert d&#039;anciennes ruines,
                révélant les traces des civilisations passées qui ont jadis
                colonisé Terra. Ces découvertes archéologiques ont enrichi notre
                compréhension de l&#039;évolution biologique de Terra et de son
                interaction avec l&#039;environnement.
              </div>
            </div>
            <div class="home-content-2-container-2-content-2">
              <div class="home-content-2-container-2-content-2-text">
                Chez Rhine Lab, chaque succès est le fruit d&#039;un dévouement
                inébranlable envers l&#039;excellence scientifique. Nos projets
                continuent de repousser les frontières de la connaissance,
                laissant une empreinte durable sur le futur de la science et de
                l&#039;exploration spatiale.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-content-3">
      <div class="home-content-3-container">
        <div class="home-content-2-title">
          Êtes-vous prêts à plonger dans le futur de la science et de
          l&#039;exploration spatiale ? Explorez davantage les réalisations
          extraordinaires de Rhine Lab et découvrez comment nous façonnons
          l&#039;avenir de Terra.
        </div>
        <div class="home-content-3-divider"></div>
        <div class="home-content-3-content-1">
          <div class="home-content-3-content-1-text-1">
            Explorez nos départements et les projets novateurs que nous menons
            dans la section &#039;Services&#039;, mettant en lumière notre
            expertise en Originium, biologie, robotique et bien plus encore.
          </div>
          <div class="home-content-3-content-1-text-2">
            Découvrez notre histoire fascinante sur la page &#039;About&#039;,
            plongeant dans les détails de notre fondation par le Dr. Kristen
            Wright et Saria.
          </div>
          <div class="home-content-3-content-1-text-3">
            Connectez-vous avec nous sur la page &#039;Contact&#039; pour poser
            des questions, discuter de partenariats potentiels ou simplement en
            apprendre davantage sur nos activités.
          </div>
        </div>
        <div class="home-content-3-banner">
          <img
            class="home-content-3-banner-img"
            src="{{ asset('images/lab4.png') }}"
          />
        </div>
        <div class="home-content-3-subtitle">
          Rejoignez-nous dans cette aventure scientifique sans précédent.
          Cliquez, explorez et ensemble, repoussons les frontières de la
          connaissance. Bienvenue chez Rhine Lab, où l&#039;avenir prend vie.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
